[include]
	path = .gitconfig_local
[color]
	ui = auto
[alias]
	co = checkout
	st = status
	s = status --short
	l = log --oneline --decorate --graph
	cob = checkout -b
	ff = merge --ff-only
	noff = merge --no-ff
    cl = clone --recursive -b dev
	fep = fetch --prune
	dic = diff HEAD~1..HEAD
	pushf = push --force-with-lease
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[core]
	excludesFile = /home/cedric/.config/git/ignore
[push]
	default = simple
[mergetool "vimdiff"]
    	cmd = nvim $BASE $LOCAL $REMOTE $MERGED -O -c '$wincmd w' -c 'wincmd J'
